<div id="<%= dom_id topic %>">
  <p>
    <strong>Title:</strong>
    <%= topic.title %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= topic.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= topic.course_id %>
  </p>

</div>
