<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to "Articles", articles_path, :class => "nav-link" %>
    </nav>
	<span class="navbar-text">
    <% if user_signed_in? %>
    <div> Welcome <%= current_user.email %> </div>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= button_to "Sign in", new_user_session_path %>
    <% end %>
   </span>
</div>
